version: '3.6'

services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - ${RABBIT_MQ_PORT:-5672}:5672
      - ${RABBIT_MQ_ADMIN_PORT:-15672}:15672
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq

  backend:
    build:
      context: ./
      dockerfile: docker/backend/Dockerfile
    volumes:
      - ./high_templar:/code/high_templar
    ports:
        - 5000:5000
    entrypoint: /code/high_templar/run

  wiremock:
    image: rodolpheche/wiremock
    ports:
      - 8080:8080

  nginx:
    image: nginx
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 8000:8000
      - 8001:8001

  tester:
    build:
      context: ./
      dockerfile: docker/tester/Dockerfile
